* {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    /*border-color: orange;*/
}

header {
    background-color: #E1A768;
    border-color: magenta;
    border-width: 8px;
    padding: 1rem 0;
}

/* Navigation components for desktop */

#nav-grid {
    display: grid;
    width: 100%;
    border-color: orange;
    grid-template-columns: 1fr 1fr;
}

#website-name-container {
    grid-area: 1 / 1 / span 1 / span 1;
    border-color: aqua;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 3%;
}

.website-name {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: clamp(1.438rem, 2vw + 1rem, 3.125rem);
    color: lightgoldenrodyellow;
    text-transform: lowercase;
    text-align: left;
    position: absolute;
    width: 100%;
}

#nav-container {
    grid-area: 1 / 2 / span 1 / span 1;
    border-color: lime;
}

ul > li {
    display: inline;
    text-transform: uppercase;
    border-color: purple;
    width: 100%;
    top: 50%;
    bottom: 50%;
}

ul {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border-color: white;
    color: #ffffff;
    float: right;
    padding-right: 5%;
}

/* Navigation components for mobile */




/* Main body for desktop */

/* deletion proposal
h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: lightgoldenrodyellow;
    text-transform: lowercase;
    text-align: center;
    padding: 0px 0px;
    margin: 0px
}

#cliffside {
    background-image: url("./images/cliffside.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
}

h1.cliffside {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    color: gray;
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
    text-align: left;
    padding: 25px 0px 0px 0px;
    margin: 0 auto;
}

#relax {
    background-image: url("./images/relax.jpeg");
    background-size: cover;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
}

h1.relax {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    font-weight: bold;
    color: white;
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
    text-align: right;
    padding: 60vh 15vw 0vh 0vh;
    margin: 0 auto;
}

h1.swim {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    font-weight: bold;
    color: darkslategray;
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
    text-align: left;
    padding: 0vh 0vw 0vh 10vw;
    position: absolute;
    top: 10%;
}

#swimcontainer {
    position: relative;
}

*/


/* Main body for website */

/* Opener section */

#opener {
    background-image: url("./images/manarola_2.jpeg");
    background-size: cover;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#opener-grid {
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

#opener-text-row {
    display: inline;
    grid-area: 1 / 1 / span 1 / span 1;
    width: 70%;
    margin: auto;
}

#opener-image-grid {
    display: inline;
    padding: 5%;
    grid-area: 1 / 2 / span 1 / span 1;
}

#opener-image {
    width: 100%;
}

p {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: white;
    transform: rotate(0deg);
}

p, .cliffside {
    background-color: blue;
    transform: rotate(0deg);
}

p, .company {
    background-color: magenta;
    transform: rotate(0deg);
}

p, .swimming {
    background-color: lime;
    transform: rotate(0deg);
}

p, .opener-text {
    background-color: darkslategray;
    text-align: center;
    transform: rotate(-5deg);
    font-size: calc(1rem + 4 * ((100vw - 320px) / 680));
    padding: 5px;
}

/* Body grid */

#body-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 5%;
    justify-content: center;
}

.grid-item {
    display: inline;
    opacity: 50%;
}

#grid-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.grid-video {
    width: 100% !important;
    object-fit: cover;
    height: 100%;
    padding: 5%;
}

/* Map embed */

#map {
    width: 100%;
}

/* custom font(s) */

@font-face {
    font-family: "gilbert-color";
    src: url("./fonts/Gilbert-Color\ Bold\ Preview5.otf");
}