/* * {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    font-family: Arial, Helvetica, sans-serif; 
} */

body {
    margin: 0px;
    padding: 0px;
    /*border-color: orange;*/
}

header {
    background-color: darkolivegreen;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-color: seagreen;*/
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(16px + 20 * ((100vw - 320px) / 680));
    color: lightgoldenrodyellow;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

figure.hero-image {
    /*border-color: violet;*/
    max-width: max-content;
    position: relative;
    height: auto;
    margin: 0px;
}

img.hero-image {
    max-width: 100%;
    height: auto;
    margin: 0px;
    /*border-color: yellow;*/
}

figcaption {
    position: absolute;
    top: 80%;
    width: 50%;
    text-align: left;
    padding-left: 5%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    /*border-color: green;*/
    background-color: white;;
    opacity: 0.5;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}