/* * {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    font-family: Arial, Helvetica, sans-serif; 
} */

* {
    margin: 0px;
    padding: 0px;
  }

body {
    margin: 0px;
    padding: 0px;
    /*border-color: orange;*/
}

header {
    background-color: darkolivegreen;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    /*border-color: seagreen;*/
}

h1 {
    font-family: gilbert-color, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc(40pt + 20 * ((100vw - 320px) / 680));
    color: lightgoldenrodyellow;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px;
    margin: 0px
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding: 5px 20px;
    margin: 0px;
}

#cliffside {
    background-image: url("./images/cliffside.png");
    background-size: cover;
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
}

h1.cliffside {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    color: gray;
    min-width: 50vw;
    max-width: 90vw;
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
    text-align: left;
    padding: 25px 0px 0px 0px;
    margin: 0 auto;
}

#relax {
    background-image: url("./images/relax.jpeg");
    background-size: cover;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
}

h1.relax {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    font-weight: bold;
    color: white;
    min-width: 50vw;
    max-width: 90vw;
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
    text-align: right;
    padding: 60vh 15vw 0vh 0vh;
    margin: 0 auto;
}

h1.swim {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    font-weight: bold;
    color: darkslategray;
    /*min-width: 50vw;
    max-width: 90vw;*/
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
    text-align: left;
    padding: 0vh 0vw 0vh 10vw;
    position: absolute;
    top: 10%;
}

#swimcontainer {
    position: relative;
}

video {
    width: 100% !important;
}

@font-face {
    font-family: "gilbert-color";
    src: url("./fonts/Gilbert-Color\ Bold\ Preview5.otf");
    }